blockquote {
    border: $border;
    border-radius: $border-radius;
    color: $link-color;
    font-weight: bold;
    font-size: large;
    margin-left: 0;
    padding: 0.4em;
}
blockquote>p {
    margin: 0;
}
.site-title {
  font-size: 23px !important;
}
