{% unless page.url == "/" %}
  <!-- if page.parent -->
  {% if first_level_title != nil %}
    <nav aria-label="Breadcrumb" class="breadcrumb-nav">
      <ol class="breadcrumb-nav-list">
        <!-- if page.grand_parent -->
        {% if second_level_title != nil %}
          <!--li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.grand_parent }}</a></li-->
          <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ first_level_title }}</a></li>
          <!--li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ page.parent }}</a></li-->
          <li class="breadcrumb-nav-list-item"><a href="{{ second_level_url }}">{{ second_level_title }}</a></li>
        {% else %}
          <!--li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ page.parent }}</a></li-->
          <li class="breadcrumb-nav-list-item"><a href="{{ first_level_url }}">{{ first_level_title }}</a></li>
        {% endif %}
        <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
      </ol>
    </nav>
  {% endif %}
{% endunless %}
